<div id="head">
    <header class="header-fixed">
        <div class="header-limiter">
            <h1><a href="#">Let's do <span>Shopping</span></a></h1>
            <div class="ui-fluid">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">All</span>
                        <input type="text" pInputText placeholder="Search for brands, items and more">
                    </div>
                </div>
            </div>
            <nav>
                <!-- <mat-form-field>
                    <mat-label><button mat-button (click)="loginSignUp()"><i
                                class="pi pi-sign-in"></i>{{fName}}</button></mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->
                <!-- <a href="#" (click)="loginSignUp()"><i class="pi pi-sign-in"></i><span>{{fName}}</span> </a> -->
                <button mat-button><i class="pi pi-sign-in"></i>Today's Deal</button>
                <button mat-button><i class="pi pi-shopping-cart"></i>Cart</button>
                <button mat-button><i class="pi pi-users"></i>Contact</button>

                <!-- <a href="#" class="selected"><i class="pi pi-star"></i>Today's Deal</a>
                <a href="#"><i class="pi pi-shopping-cart"></i>Cart</a>
                <a href="#"><i class="pi pi-users"></i>Contact</a> -->
            </nav>
        </div>
    </header>
    <div class="header-fixed-placeholder"></div>
</div>